<main class="container">
    <H1>Harry Potter Characters</H1>
    <p class="mb-5">Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns Harry's conflict with Lord Voldemort, a dark wizard who intends to become immortal, overthrow the wizard governing body known as the Ministry of Magic and subjugate all wizards and Muggles (non-magical people).</p>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col" *ngFor="let character of characters">
            <div class="card" style="width: 18rem;" (click)="viewCharacter(character.id)">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img [src]="character.image" class="img-fluid rounded-start" [alt]="character.name + ' photo'">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">{{ character.name | customUppercase}}</h5>
                            <p class="card-text">{{ character.house }}</p>
                            <small class="card-text species">{{ character.species }}</small>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</main>
